
phaseshift/2024-05-02_B_ + y_name_Amplitude.png
phaseshift/2024-05-02_B_ + y_name_AmplitudeNorm.png
phaseshift/2024-05-02_B_ + y_name_magneticfield.png
phaseshift/2024-05-02_B_ + y_name_offset.png
phaseshift/2024-05-02_B_ + y_name_Peak frequency.png
phaseshift/2024-05-02_B_c5_Amplitude.png
phaseshift/2024-05-02_B_c5_AmplitudeNorm.png
phaseshift/2024-05-02_B_c5_magneticfield.png
phaseshift/2024-05-02_B_c5_offset.png
phaseshift/2024-05-02_B_c5_Peak frequency.png
phaseshift/2024-05-02_B_c9_Amplitude.png
phaseshift/2024-05-02_B_c9_AmplitudeNorm.png
phaseshift/2024-05-02_B_c9_magneticfield.png
phaseshift/2024-05-02_B_c9_offset.png
phaseshift/2024-05-02_B_c9_Peak frequency.png
phaseshift/2024-05-02_B_sum95_Amplitude.png
phaseshift/2024-05-02_B_sum95_AmplitudeNorm.png
phaseshift/2024-05-02_B_sum95_magneticfield.png
phaseshift/2024-05-02_B_sum95_offset.png
phaseshift/2024-05-02_B_sum95_Peak frequency.png
phaseshift/Amplitude.png
phaseshift/AmplitudeNorm.png
phaseshift/comp.png
phaseshift/dimer_loss_over_time.png
phaseshift/magneticfield.png
phaseshift/offset.png
phaseshift/Peak frequency.png
phaseshift/phaseshift_Anorm_comp.png
